@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



.banner
{
    height: 100vh;
    width: 100%;
}

.banner header
{
    height: 9vh;
    background: #055055;
    color: #fff;
}

.banner header span
{
    font-size: 2em;
    font-weight: bold;
}

.banner header nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 30px;
}

.banner header nav .nav-list
{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.banner header nav .nav-list li
{ 
    list-style: none;
}

.banner header nav .nav-list li a
{
    color: #fff;
    text-decoration: none;
}

.banner-content
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.banner-content .banner-content-img #img-banner

{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.banner-content .banner-content-text h1
{
    font-size: 4em;
    width: 600px;
    line-height: 60px;
}

.banner-content .banner-content-text #btn
{
    border: none;
    background-color: #055055;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    padding: 15px 40px;
    margin: 30px 0px;
    transition: 0.25s;
}

.banner-content .banner-content-text #btn:hover
{
    opacity: 0.9;
}

.parallax
{
    height: 60vh;
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0, 0.3), rgba(0,0,0, 0.3)), url(../Images/parallax.jfif);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 4em;
}

.perguntas
{
    width: 100%;
    height: 100%;
    padding: 50px;
    background: #055055;
}

.perguntas #img-banner
{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    margin-left: 35%;
}


.perguntas .perguntas-text
{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 100px;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 400px;
}




.perguntas .perguntas-text .box-pergunta
{

    border-radius: 12px;
    box-shadow: 0px 1px 40px 0px rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 20px;
    color: #fff;
    width: 350px;
}

.perguntas .perguntas-text .box-pergunta h4
{
    font-size: 1.4em;
}

.perguntas .perguntas-text .box-pergunta p
{
    color: #cccccc;
}

.perguntas #img-banner-3
{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

